/*header*/
.header-upper{
    height: 30px;
    background-color: #A5C926;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.header-upper-contact{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.header-upper-contact-content{
    display: flex;
    align-items: center;
}

.header-upper-contact-text{
    padding-left: 15px;
}

.header-upper-about{
    height: 100%;
    width: 70px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.header-upper-about-burger{
    height: 15px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line-menu1{
    height: 3px;
    border-radius: 18px;
    background-color: #FFFFFF;
    width: 20px;
}

.line-menu2{
    height: 3px;
    border-radius: 14px;
    background-color: #FFFFFF;
    width: 16px;
}

.line-menu3{
    height: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 12px;
}

.header-upper-social{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-upper-social img{
    height: 14px;
    width: 14px;
}

.header-lower{
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 50px;
}

.header-lower-text{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
}

.navigation{
    height: 100%;
    width: 330px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-lower-cart{
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-lower-cart img{
    height: 22px;
    width: 22px;
}

.header-lower-cart-count{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A5C926;
    color: #FFFFFF;
}

@media (max-width: 698px){
    .header-upper{
        padding: 0 20px;
    }

    .header-lower{
        padding: 0 20px;
    }
    
    .header-upper-contact-content{
        display: none;
    }

    .header-upper-about{
        display: flex;
    }

    .navigation{
        display: none;
    }
}
/* HEADER */


/*main*/

/*section - gretting#1*/
.greeting-one{
    height: 640px;
    width: 100%;  
    display: flex;
    background: url(../image/greeting_first.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.greeting-card{
    height: 310px;
    width: 570px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);   
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting-card-content{
    height: 210px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:#A5C926;
}

.greeting-card-button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: #A5C926;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 698px){
    .greeting-one{
        height: 350px;
    }

    .greeting-card{
        height: 200px;
        width: 300px;
    }

    .greeting-card-content{
        height: 130px;
        width: 220px;
    }

    .greeting-card-button{
        height: 30px;
        width: 100px;
    }
}
/*section - gretting#1*/

/*section - shop*/
.shop{
    height: fit-content;
    width: 100%;
}

.shop-content{
    height: fit-content;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-content-card{
    height: 320px;
    width: calc((100% - 20px)/2);
}

/*section - shop*/