.header-upper{
    height: 30px;
    background-color: #A5C926;
    display: flex;
    justify-content: space-between;
}

.header-upper-contact{
    height: 100%;
    width: 300px;
    padding-left: 50px;
}

.header-upper-social{
    height: 100%;
    width: 130px;
    padding-right: 50px;
}

.header-lower{
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
}

.header-lower-text{
    height: 100%;
    width: 100px;
    padding-left: 50px;
}

.header-lower-cart{
    height: 100%;
    width: 130px;
    padding-right: 50px;
}