.OpenSans11 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
}

.OpenSans14 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.VarelaRound21 {
    font-family: 'Varela Round', sans-serif;
    font-size: 21px;
    line-height: 32px;
    margin: 0;
}