.OpenSans9 {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    line-height: 16px;
    margin: 0;
}

.OpenSans11 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
}

.OpenSans12 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

.OpenSans14 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-weight: 100;
}

.OpenSans13-9 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    font-weight: 100;
    text-align: center;
}

.OpenSans14-9 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-weight: 100;
    text-align: center;
}

.VarelaRound14 {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.VarelaRound20 {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.VarelaRound21 {
    font-family: 'Varela Round', sans-serif;
    font-size: 21px;
    line-height: 32px;
    margin: 0;
}

.VarelaRound28 {
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    margin: 0;
}

.VarelaRound23-16{
    font-family: 'Varela Round', sans-serif;
    font-size: 23px;
    line-height: 30px;
    margin: 0;
}

.VarelaRound28-20 {
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    margin: 0;
}

.VarelaRound31 {
    font-family: 'Varela Round', sans-serif;
    font-size: 31px;
    line-height: 40px;
    margin: 0;
}

.VarelaRound31-20 {
    font-family: 'Varela Round', sans-serif;
    font-size: 31px;
    line-height: 40px;
    margin: 0;
}

.VarelaRound36-20{
    font-family: 'Varela Round', sans-serif;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0px;
}

.VarelaRound39-20{
    font-family: 'Varela Round', sans-serif;
    font-size: 39px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 7px;
    text-align: center;
    color:black
}

@media (max-width: 698px){
    .OpenSans13-9{
        font-size: 9px;
        line-height: 16px;
    }
    
    .OpenSans14-9{
        font-size: 9px;
        line-height: 24px;
    }

    .VarelaRound23-16{
        font-size: 16px;
        line-height: 32px;
        margin: 0px;
    }

    .VarelaRound28-20{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
    }

    .VarelaRound31-20{
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 0px;
    }

    .VarelaRound36-20{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
    }

    .VarelaRound39-20{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
    }
}
