body{
    margin: 0;
}

nav{
    height: 70px;
    width: calc(100% - 100px - 110px);
}

header{
    height: 100px;
}

main{
    height: fit-content;
    background-color: #F8F8F8;
}

footer{
    height: 200px;
    padding: 0 60px;
    background-color: #A5C926;
}